# Ignore Python virtual environment
.vs/

venv/
__pycache__/

# Ignore compiled files
*.pyc

# Ignore local settings
.env

# Ignore macOS and system files
.DS_Store

# Ignore SQLite or debug files
*.sqlite3
*.log
